/*font-family: 'Raleway', sans-serif;*/
/*accent коричневый #733700
  text тёмно серый #312E39
  dark очень тёмный #3A342D
  deep самый тёмны #2D2A26
  max-width: 1280px;*/
  *,
  *::before,
  *::after{
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
main{
    width: 100%;
}
.flex{
    display: flex;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
main{
    margin-top: 166px;
}

/*header*/
header{
    box-shadow: 0px 15px 15px rgba(221, 221, 221, 0.719);
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    top: 0;
}
.flex{
    display: flex;
}
li{
    list-style-type: none;
    margin: 0;
}
.header-main{
    width: 1120px;
    height: 96px;
    margin: 0 auto;
    justify-content: space-between;
    /*padding-top: 30px;*/
    align-items: center;
    flex-wrap: wrap;
}
.header-logo{
    margin-top: 10px;
}
.menu-list li{
    align-items: center;
    margin: auto 0;
    padding: 8px 15px;
}
.menu-list li:not(:last-child){
    margin-right: 30px;
}
.menu-list a{
    color: #312E39;
}
.active-menu{
    border-radius: 0px 5px;
    background-color: #733700;
}
.active-menu a{
    color: #E4E6E8;
}
.menu-list li:hover, .menu-list a:hover{
    color: #eca85b;
    font-weight: bold;
}

.seti-list li:not(:last-child){
    margin-right: 12px;
}

/*main-blog*/
.page_blog{
    max-width: 1280px;
    margin: auto;
}
.zagolovok{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-top: 70px;
}
.pod_zagolovok{
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    text-align: center;
    color: #999999;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}
.bloks{
    max-width: 1130px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.blok{
    border: 1px solid #EEEEEE;
    border-radius: 0px 5px;
    width: 360px;
    height: 440px;
}
.date{
    width: 64px;
    background: #733700;
    border-radius: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 5px;
    color: #EEEEEE;

    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}
.blok img{
    border-radius: 0px 5px;
    width: 330px;
    height: 210px;
    padding: 15px;
}
.blok h2{
    font-weight: 800;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #312E39;
    font-weight: bold;
    border-left: 4px solid #733700;
    padding-left: 11px;
    margin-left: 15px;
}
.blok_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #312E39;
}
.blok p:not(.date){
    padding-left: 30px;
}
.read_more a{
    font-weight: 800;
    font-size: 15px;
    line-height: 170%;
    color: #312E39;
}
.read_more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.lists{
    width: 280px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.lists p{
    width: 36px;
    height: 36px;
    border-radius: 0px 5px;
    /*border: 1px solid #2D2A26;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
}
.arrow_back{
    margin-right: 8px;
}
.arrow_back, .arrow_forward{
    color: #666666;
    padding-top: 10px;
}
.arrow_back:hover, .arrow_forward:hover{
    color: #733700;
    text-decoration: underline;
    cursor: pointer;
}
.lists p:hover, .lists p:active{
    background-color: #733700;
    color: #EEEEEE;
}

/*main-projects*/
.page_projects{
    max-width: 1280px;
    margin: auto;
    margin-bottom: 70px;
}
.bloks_projects{
    max-width: 1120px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.two-img{
    display: grid;
    height: 500px;
    justify-content: space-between;
}
.two-img img{
    width: 360px;
    height: 230px;
}
.side, .big-img{
    width: 360px;
    height: 480px;
}

/*project*/
.page_of_project{
    max-width: 1120px;
    margin: 70px auto;
}
.top-string{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigation p:not(:last-child){
    margin-right: 10px;
}
.navigation p{
    font-weight: 600;
    font-size: 14px;
    text-decoration-line: underline;
    color: #CCCCCC;
}
.navigation p:last-child{
    font-weight: 700;
    font-size: 14px;
    color: #888888;
    text-decoration: none;
}
.adress p{
    font-weight: 700;
    font-size: 14px;
    color: #888888;
    margin-left: 10px;
}
.carusel{
    margin-top: 25px;
}
.container {
    position: relative;
}
.mySlides {
    display: none;
} 
.cursor {
    cursor: pointer;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
 }
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
.active, .demo:hover {
    opacity: 1;
}



.main-blok-of-project h2{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
    color: #312E39;
}
.opisanie-of-project{
    max-width: 740px;
}
.opisanie-of-project img{
    margin: 35px 0;
    max-width: 740px;
    max-height: 493px;
}
.opisanie-of-project p{
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.architector{
    width: 373px;
}
.autor{
    text-align: center;
}
.autor img{
    margin-bottom: 25px;
}
.name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 15px;
}
.arch_about{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    width: 285px; 
    margin: 0 auto;
    margin-bottom: 90px;
}
.arch_info{
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.info_about{
    width: 310px;
    margin: 0 auto;
}
.info{
    font-size: 14px;
    justify-content: space-between;
}
.left{
    font-weight: 500;
    color: #666666;
}
.right{
    font-weight: 700;
    color: #444444;
}

/*services*/
.services_page{
    max-width: 1120px;
    margin: auto;
}
.services-bloks{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.one-blok{
    border: 1px solid #E4E6E8;
    width: 550px;
    height: 254px;
    margin-bottom: 20px;
}
.one-blok:hover{
    border-left: 2px solid #733700;
}
.text-of-blok{
    padding: 38px 35px;
}
.text-of-blok h3{
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}
.text-of-blok h3:hover{
    text-decoration: underline;
    color: #733700;
    cursor: pointer;
}
.text-of-blok p{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #7E7E7E;
    width: 210px;
    height: 140px;
    margin: 0;
}
.one-blok img{
    object-fit: cover;
    width: 270px;
    height: 254px;
}
.btn{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 202px;
}
.services_page button{
    width: 202px;
    height: 44px;
    color: #EEEEEE;
    background-color: #733700;
    border-radius: 0px 5px;
    text-transform: uppercase;
    align-items: center;
    border-color: #733700;
}
.services_page button:hover{
    background-color: #EEEEEE;
    color: #733700;
}

/*company-about*/
.page_about{
    display: flex;
    max-width: 1120px;
    margin: 70px auto;
}
.second-menu{
    width: 265px;
    height: 272px;
    margin-right: 56px;
}
.second-menu h3{
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}
.second-menu-item{
    padding: 0;
}
.second-menu-item li{
    margin: 0;
    padding: 10px 30px;
}
.second-menu-item a{
    color:#666666;
}
.active-item, .second-menu-item li:hover{
    background-color: #733700;
    color: #E4E6E8;
}
.active-item a, .second-menu-item a:hover{
    color: #E4E6E8;
}
.about_more{
    max-width: 799px;
}
.about_more h2{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 25px;
}
.about_more p{
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.about_more img{
    margin: 35px 0;
}

/*feedback*/
.input_blok{
    width: 360px;
    display: block;
    margin: auto;
}
.input{
    width: 360px;
    height: 44px;
    margin-bottom: 15px;
    border-radius: 0px 5px;
    border: 1px solid #E4E6E8;
    padding-left: 15px;
}
.input:focus{
    border-color: #730006;
}
.input-last{
    height: 140px;
    width: 360px;
    padding: 15px 0 0 15px;
}
.btn-send{
    display: flex;
    width: 242px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background: #733700;
    border-radius: 0px 5px;
    border-color: #733700;
    color: #E4E6E8;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px auto 70px auto;
}
.btn-send:hover{
    color: #733700;
    background-color: #E4E6E8;
}
.map{
    background-color: #3a342d;
}
.blok_map{
    padding: 70px 0 100px 0;
}
.blok_map h2{
    font-weight: 800;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}
.center{
    justify-content: center;
    align-items: center;
}
.number{
    font-weight: 300;
    font-size: 28px;
    line-height: 165%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 40px;
}
.main_map{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer{
    background-color: #2D2A26;
    width: 100%;
}
footer h3{
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-weight: bold;
}
footer p{
    max-width: 344px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 13px;
    line-height: 170%;
}
footer li{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}
footer a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    cursor: pointer;
}
footer a:active{
    text-decoration: underline;
    color: #733700;
}
footer a:hover{
    text-decoration: underline;
    color: #733700;
}
.line{
    width: 25px;
    height: 3px;
}


.footer_blok{
    max-width: 1120px;
    margin: auto;
    padding: 70px 0;
    /*height: 397px;*/
}
.logo_footer{
    margin-bottom: 40px;
}
.about_us{
    width: 380px;
}
.about_us-text{
    margin-top: 20px;
    max-width: 310px;
}
.menu_footer{
    margin-right: 105px;
}
.uslugi_footer{
    width: 160px;
    margin-right: 130px;
}
.we_society{
    margin-top: 16px;
    margin-bottom: 20px;
}
.soc_seti{
    margin-top: 35px;
    padding: 0;
}
.soc_seti div{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0px 5px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.soc_seti div:not(:last-child){
    margin-right: 12px;
} 
.soc_seti div:hover{
    border-color: #AE5D00;
    background-color: #733700;
}
@media(max-width: 1028px){
    .opisanie{
        display: block;
    }
    .page_about{
        display: block;
    }
}
@media(max-width:768px){
    .footer_blok{
        flex-wrap: wrap;
    }
    .footer_nav{
        flex-wrap: wrap;
    }
    
}